* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  font-size: 2.3rem;
  color: white;
}

ul {
  list-style: none;
}

.main-head {
  background-color: rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  background-color: black;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem;
}

.hero {
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url("../images/students.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../images/students.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-text {
  font-size: 7rem;
}

.hero-head {
  width: 90%;
  margin: auto;
  padding: 8rem;
}

button {
  margin-top: 2rem;
  padding: 2.3rem;
  font-size: 2rem;
  background-color: #bd1723;
  border: none;
  color: white;
  border-radius: 0.3rem;
}

#departments {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#departments div {
  width: 25vw;
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dep-img {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.img {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  padding: 3rem;
  text-align: left;
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.industrial-design {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 167, 79, 0.7))), url("../images/industrialDesign.jpg");
  background: linear-gradient(rgba(60, 167, 79, 0.7)), url("../images/industrialDesign.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.graphic {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 8, 11, 0.7))), url("../images/graphic.jpg");
  background: linear-gradient(rgba(60, 8, 11, 0.7)), url("../images/graphic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.decor {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 168, 45, 0.7))), url("../images/decor.jpg");
  background: linear-gradient(rgba(180, 168, 45, 0.7)), url("../images/decor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fashion {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 59, 114, 0.7))), url("../images/fashion.jpg");
  background: linear-gradient(rgba(230, 59, 114, 0.7)), url("../images/fashion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1560px) {
  #departments {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 799px) {
  .hero-text {
    font-size: 5rem;
  }
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  a {
    font-size: 1.7rem;
  }
  ul {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 471px) {
  .hero-text {
    font-size: 2.3rem;
  }
  button {
    padding: 1.2rem;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */